@font-face {
  font-family: 'baserent';
  src:  url('fonts/baserent.eot?mzkk7o');
  src:  url('fonts/baserent.eot?mzkk7o#iefix') format('embedded-opentype'),
    url('fonts/baserent.ttf?mzkk7o') format('truetype'),
    url('fonts/baserent.woff?mzkk7o') format('woff'),
    url('fonts/baserent.svg?mzkk7o#baserent') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'baserent' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-file-information:before {
  content: "\e90e";
}
.i-file-text-data:before {
  content: "\e90c";
}
.i-file-question:before {
  content: "\e90d";
}
.i-file-check:before {
  content: "\e90b";
}
.i-arrow-left:before {
  content: "\e90a";
}
.i-send:before {
  content: "\e909";
}
.i-message:before {
  content: "\e908";
}
.i-assign-team-member:before {
  content: "\e901";
}
.i-complete:before {
  content: "\e902";
}
.i-confirm:before {
  content: "\e903";
}
.i-deny:before {
  content: "\e904";
}
.i-directions:before {
  content: "\e905";
}
.i-reschedule:before {
  content: "\e906";
}
.i-archive:before {
  content: "\e907";
}
.i-call:before {
  content: "\e900";
}
.i-edit:before {
  content: "\41";
}
.i-printer:before {
  content: "\42";
}
.i-delete:before {
  content: "\43";
}
.i-download:before {
  content: "\44";
}
.i-view-simple:before {
  content: "\45";
}
.i-filter:before {
  content: "\46";
}
.i-attachment:before {
  content: "\47";
}
.i-menu-dashboard-icon:before {
  content: "\48";
}
.i-info:before {
  content: "\49";
}
.i-minus:before {
  content: "\4a";
}
.i-plus:before {
  content: "\4b";
}
.i-home-2:before {
  content: "\4c";
}
.i-s-facebook:before {
  content: "\61";
}
.i-team:before {
  content: "\62";
}
.i-folder:before {
  content: "\63";
}
.i-profile-minus:before {
  content: "\64";
}
.i-home:before {
  content: "\65";
}
.i-profile:before {
  content: "\66";
}
.i-fileboard-done:before {
  content: "\67";
}
.i-notification-bell:before {
  content: "\68";
}
.i-close:before {
  content: "\69";
}
.i-arrow-in-left:before {
  content: "\6a";
}
.i-arrow-down:before {
  content: "\6b";
}
.i-check:before {
  content: "\6c";
}
.i-dropdown-menu-option:before {
  content: "\6d";
}
.i-search:before {
  content: "\6e";
}
.i-pin-sharp-circle:before {
  content: "\6f";
}
.i-fileboard-checklist:before {
  content: "\70";
}
.i-dollar:before {
  content: "\71";
}
.i-s-twitter:before {
  content: "\72";
}
.i-s-google:before {
  content: "\73";
}
.i-email:before {
  content: "\74";
}
.i-profile-round:before {
  content: "\75";
}
.i-rental:before {
  content: "\76";
}
.i-prospects:before {
  content: "\77";
}
.i-notifications:before {
  content: "\78";
}
.i-documents:before {
  content: "\79";
}
.i-calendar:before {
  content: "\7a";
}
